*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
    background-color: #fff;
}
nav{
    height: 5.2rem;
    width: 100vw;
    background-color: #000;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}


.logo{
    padding:1vh 1vw;
    text-align: center;
    margin-left: 30px;
    margin-top:-10px;
}
.logo img {
    height: 5rem;
    width: 5rem;
}

.nav-links{
    display: flex;
    list-style: none; 
    width: 80vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
  
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #0160e7;
}
.nav-links li {
    position: relative;
    animation: 0.2s;
}

.login-button{
    background-color: #0160e7;
    border: 1.5px solid #0160e7;
    border-radius: 2em;
    font-weight: bold;
    max-height:45px;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: #fff;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.16);
    cursor: pointer;

}
.login-button:hover {
    color: white;
    background-color: black;
    border:2px solid #fff;
    transition: all ease-in-out 350ms;
}


.hamburger div{
    width: 30px;
    height:3px;
    background: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}


.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background:#82B6D9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.container {
    width: 144px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
.container span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #9B5986;
     animation: Loading 3s infinite ease-in-out; 
}
.container span:nth-of-type(2) { left: 30px; animation-delay: .2s; }
.container span:nth-of-type(3) { left: 60px; animation-delay: .4s; }
.container span:nth-of-type(4) { left: 90px; animation-delay: .6s; }
.container span:last-of-type { left: 120px; animation-delay: .8s; }

@keyframes Loading {
    0% { height: 20px; transform: translateY(0); background-color: #9B59B6; }
    50% { height: 20px; transform: translateY(40px); background-color: #3498D6; }
    100% { height: 20px; transform: translateY(0); background-color: #9B59B6; }
}


.hero-image {
  background-image: url("images/trees.png");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}





:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}




.multi-button {
  display: flex;
  width: 100%;
  margin-top:30px;
  box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}

.h1-home-img{
    font-family: 'Bodoni Moda', serif;
}



.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header{
font-size:45px;
margin:2%;
margin-top:50px;
font-family: 'Roboto Mono', monospace;
}

.header-info{
font-size:15px;
margin:2%;

font-family: 'Poppins', sans-serif;
}

div.image {
   content:url("images/graphic boy.jpg");
    width: 100%;
  height: auto;
}​

